* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* background: #e74c3c; */
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
}

.searchbar > .search_input {
  padding: 0 10px;
  width: 450px;
  caret-color: #e74c3c;
}

.searchbar > .search_icon {
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

main {
  margin: 5%;
}

div.gallery {
  border: 1px solid #353b48;
  border-radius: 5px;
}

div.gallery:hover {
  border: 3px solid #353b48;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  background-color: #f8f8f8be;;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  margin-bottom: 30px;
  float: left;
  width: 24.99999%;
}

.nonresponsive {
  padding: 0 6px;
  margin: 30px auto;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#search-section-id {
  margin-bottom: 50px;
}
